<h1>Create a viewing party</h1>
<%= form_with url: events_path, local: true do |f| %>
<%= f.label :movie_title_label, "Movie Title" %>
<%= f.label :movie_title, @movie.title %>
<%= f.hidden_field :movie_title, value: @ %>
<%=f.label :duration, 'Duration' %>
<%= f.text_field :duration %>
<%= f.label :day, 'Day' %>
<%= f.date_field :day %>
<%=f.label :time, 'Tine'  %>
<%= f.time_field :time %>
<%= f.label :include, 'Include' %>
<% current_user.friends.each do |friend|  %>
<%= f.check_box :"attendees[#{friend.email}]" %>
<%= f.label :"attendees[#{friend.email}]", friend.name %>
<% end %>

<%= f.submit "Create Party" %>
<% end %>
